.FormContainer {
  width: 100%;
  padding: 2rem;
}

.FormText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 0;
  row-gap: 1.5rem;
}

.FormText h1 {
  font-size: 2.5rem;
}

.FormText p {
  font-size: 0.9rem;
}

.FormTextBulletPoints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.8rem;
}

.BulletPoints {
  display: flex;
  column-gap: 1rem;
}

.BulletPoints .BulletPointImg {
  width: 0.9rem;
  height: 0.9rem;
}

.BulletPoints .BulletPointText {
  font-size: 0.9rem;
}

.FormFields {
  margin: 1rem 0;
}

.ButtonContainer {
  width: 100%;
}